body {
    /*Apply to <body> and possibly its descendants*/
    font-family:  Georgia;
    font-size: medium;
    margin: 10px auto 10px auto; /*top right bottom left*/
    padding: 0%;
}
/*tag selector*/
h2 {
    background-color: aqua; color: burlywood; text-align: left;
}
/*ID-selector (id-value is unique in a document) */
#content {
    font-size: 20px; color: coral;
}
h1 {
    background-color: crimson; color: darkgray; font-size: 70; text-align: center;
}
h3 {
    color: turquoise; text-align: justify; font-weight: bold;
}
#content h1 {
    color: bisque;background-color: white; font-family: monospace;
}
body {
    display: flex;
    flex-direction: column; align-items: center;
    text-align:;
}
ol {
    border: solid yellowgreen;
    /*add your css below this line*/
    
}


